/* 상단영역 */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 68px;
  border-bottom: 1px solid #ffffff;

  z-index: 999;
  padding-top: 15px;
  background-color: #ffffff;
}

/* 11월 6일 active 추가 */
.header-active {
  border-bottom: 1px solid red !important;
}

.header .layout {
  display: flex;

  max-width: 1180px;
  padding-left: 5px;
  padding-right: 5px;

  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header-logo-link {
  width: 88px;
  height: 22px;
}
.header-logo-link img {
  width: 100%;
  height: 100%;
}

.header-logo-motion {
  width: 68px;
  height: 31px;
}
.header-logo-motion img {
  width: 100%;
  height: 100%;
}
.navigation {
  display: flex;
  align-items: center;
  gap: 20px;
}
.navigation a {
  color: #1e1e1e;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
}
.navigation button {
  width: 24px;
  height: 24px;
  border: none;
  background-color: #fff;
  cursor: pointer;
}
.navigation button img {
  width: 100%;
  height: 100%;
}
#mb-menu-bt {
  display: none;
}
/* 모바일 반투명 메뉴 배경 css작업 */
.bg-mb-menu {
  /* 웹브라우저 고정 */
  position: fixed;
  left: 0;
  top: 0;
  /*top svg 부분 수정*/
  width: 100%;
  height: 100vh;
  /* % > vh로 바뀜 view */
  background-color: rgba(0, 0, 0, 0.7);

  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  /* display: none; */
}
/* 위 display none 에 대한 block 설정임 */
/* 11월 7일 반응형 추가 내용 */
.bg-mb-menu-active {
  visibility: visible !important;
  /* opacity 투명도 설정하는 것 */
  opacity: 1 !important;
  /* display: block !important; */
}

.mb-menu {
  position: fixed;
  left: 0;
  top: 68px;
  /* display: none; */
  visibility: hidden;
  overflow: hidden;

  width: 100%;
  background-color: #ffffff;

  height: 0px;
  transition: all 0.5s;
  transition-delay: 0.15s;
}

/* 11월 7일 반응형 추가 내용 */
.mb-menu-active {
  transition-delay: 0s;
  height: 150px !important;
  visibility: visible !important;

  display: block !important;
}

.mb-menu .layout {
  max-width: 1180px;
  padding: 20px 40px;
  margin: 0 auto;
}
/* 가운데 들어가라 margin 활용. 위아래 0 좌우로 auto 하라 의미 */
.mb-menu .layout a {
  display: block;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
}
/*11월 4일 작업 내용임 */
/* 헤더 반응형  */
@media screen and (max-width: 1024px) {
  .navigation a {
    display: none;
  }
  /* id 에 대한 작업에는 # 을 붙이고, class 는 . 찍고  */
  #mb-menu-bt {
    display: block;
  }
  .bg-mb-menu {
    /* display: block; */
  }
  .mb-menu {
    /* display: block; */
  }
}
